<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newPost" method="post">
    <input type="text" name="titlePost">
    <input type="hidden" name="datePost" id="datedate">
    <input type="hidden" name="authorPost" value="<%- user._id %>">
    <button type="submit">go</button>
</form>
<script>
    document.getElementById('datedate').setAttribute("value", Date.now());
</script>
</body>
</html>