<%- include('layout') -%>

<h2>Register</h2>

  <form action="/register" method="POST">
    <input type="text" name="username">
    <label for="username">Username</label>

    <input type="password" name="password">
    <label for="password">Şifre</label>

    <input type="submit" value="Register">
    </form>